* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-100: #5928DC;
    --primary-80: rgba(88, 40, 220, 0.8);
    --primary-10: rgba(89, 40, 220, 0.1);
    --primary-6: rgba(88, 40, 220, 0.06);
    --primary-5: rgba(88, 40, 220, 0.05);
    --primary-0: rgba(88, 40, 220, 0.0);

    --secondary-100: #FFD8D9;
    --secondary-20: rgba(255, 216, 217, 0.2);

    --gray: #D9D9D9;

    --bg-primary-70: rgba(232, 233, 233, 0.70);
    --bg-primary: #E8E9E9;
    --bg-secondary: #D1DEE1;

    --dark-100: #202021;
    --dark-85: rgba(32, 32, 33, 0.85);
    --dark-70: rgba(32, 32, 33, 0.70);
    --dark-50: rgba(32, 32, 33, 0.5);
    --dark-5: rgba(32, 32, 33, 0.05);

    --black-20: rgba(0, 0, 0, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);

    --container-width: 1420px;
}













/* ----------------------------- Basic Setup ----------------------------- */
a {
    text-decoration: none !important;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    padding: 0 !important;
}

ol,
ul {
    list-style: none;
    padding: 0 !important;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-primary) !important;
}

.container {
    width: min(var(--container-width), 90%);
    margin: auto;
}

.custom-button {
    color: var(--gray);
    border: none;
    outline: none;
    background: var(--primary-100);
    padding: 10px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: .5s;
    border: 1px solid var(--primary-100);
}

.custom-button:hover {
    background: transparent;
    color: var(--primary-100);
}

.pt-110 {
    padding-top: 110px;
}














/* ----------------------------- Swiper slider custom ----------------------------- */
.swiper,
swiper-container {
    overflow: visible;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: calc(100% + 20px);
    left: 0;
    width: 100%;
}


.swiper-pagination-bullet-active {
    height: 10px;
    width: 25px;
    border-radius: 5px;
    background: var(--primary-100);
    opacity: var(--swiper-pagination-bullet-opacity, 1);
}



/* .swiper-button-next,
.swiper-button-prev {
    position: relative;
}

.client-says .heading .actions {
    position: relative;
}

.client-says .heading .actions .next {
    position: relative;
}

.client-says .heading .actions .next::after {
    content: 'next';
    position: absolute;
    height: 100px;
    width: 100px;
    background: red;
    left: 0;
    top: 0;
    z-index: 100;
}

.client-says .heading .actions .left::after,
.client-says .heading .actions .right::after {} */







/* ----------------------------- Section Title ----------------------------- */
.section-title {
    position: relative;
    width: fit-content;
}

.section-title .box-before {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: var(--primary-6);
    position: absolute;
    left: -30px;
    top: -35px;
}

.section-title p {
    color: var(--primary-100);
    font-size: .9rem;
    font-weight: 600;
    position: relative;
    left: 8px;
}

.section-title p::before {
    content: '';
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: var(--primary-6);
    position: absolute;
    left: -8px;
    top: -3px;
}














/* ----------------------------- Section Background ----------------------------- */
.left-top-bg {
    width: 900px;
    height: 900px;
    background: var(--secondary-20);
    border-radius: 50%;
    position: absolute;
    left: -450px;
    top: -450px;
    z-index: -1;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 250px 10px rgba(255, 216, 217, 0.5);
}

.right-bottom-bg {
    width: 400px;
    height: 400px;
    background: var(--primary-6);
    border-radius: 50%;
    position: absolute;
    right: 0px;
    bottom: -300px;
    z-index: -1;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 250px 65px rgba(88, 40, 220, 0.10);
}













/* ----------------------------- Scroll bar ----------------------------- */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(231, 231, 231);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(197, 197, 197, 0.8);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(197, 197, 197, 1);
}












/* ----------------------------- Navigation ----------------------------- */
.navigation-bg {
    width: 100%;
    background: var(--bg-primary-70);
    z-index: 10;
    left: 0;
    position: fixed;
    backdrop-filter: blur(10px);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    position: relative;
    width: min(var(--container-width), 90%);
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(2px);
}

.navigation::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: var(--black-20);
    left: 0;
    bottom: 0;
}

.navigation .logo h2 {
    color: var(--primary-100);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.navigation .items {
    display: flex;
    gap: 30px;
}

.navigation .items a {
    font-size: .9rem;
    color: var(--dark-85);
    font-weight: 500;
    transition: .5s;
    position: relative;
}

.navigation .items a.active {
    position: relative;
    color: var(--primary-100);
    font-weight: 600;
    transition: .5s;
}

.navigation .items a.active::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: var(--primary-100);
    left: 0;
    bottom: -34px;
    transition: .5s;
}

.navigation .items a::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0%;
    background: var(--primary-100);
    left: 0;
    bottom: -34px;
    transition: .5s;
}

.navigation .items a:hover::after {
    width: 100%;
}













/* ----------------------------- Hero Section ----------------------------- */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}

.hero-section .left-section,
.hero-section .right-section {
    width: 50%;
}


.hero-section .left-section .left-content {
    width: 95%;
}

.hero-section .left-section .heading h1 {
    font-size: 3rem;
    width: 100%;
    color: var(--dark-85);
    line-height: 65px;
    margin-bottom: 20px !important;
}

.hero-section .left-section .heading h1 img.img1 {
    width: fit-content;
    display: inline-block;
    width: 130px;
    position: relative;
    top: 20px;
}

.hero-section .left-section .heading h1 img.img2 {
    width: fit-content;
    display: inline-block;
    width: 50px;
    position: relative;
    top: 10px;
}

.hero-section .left-section .description {
    font-size: 1rem;
    color: var(--dark-100);
    font-weight: 400;
    margin-bottom: 40px !important;
}

.hero-section .left-section .cta {
    display: flex;
    align-items: center;
    gap: 40px;
    width: fit-content;
    margin-bottom: 40px !important;
}

.hero-section .left-section .cta .right-triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--primary-100);
    transition: .5s;
}

.hero-section .left-section .cta:hover .right-triangle {
    transform: translateX(10px);
}

.hero-section .left-section .numbers {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-section .left-section .numbers .number-one,
.hero-section .left-section .numbers .number-two {
    display: flex;
    gap: 7px;
    align-items: center;
}

.hero-section .left-section .numbers .number-one .number,
.hero-section .left-section .numbers .number-two .number {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-85);
}

.hero-section .left-section .numbers .number-one .number-info,
.hero-section .left-section .numbers .number-two .number-info {
    font-size: .8rem;
    font-weight: 400;
    color: var(--dark-100);
    line-height: 15px;
}

.hero-section .left-section .numbers .divider {
    height: 35px;
    width: 1px;
    background: var(--dark-50);
}

.hero-section .right-section {
    display: flex;
    justify-content: flex-end;
}

.hero-section .right-section img {
    width: 80%;
}













/* ----------------------------- Achievements ----------------------------- */
.achievements {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px 0;
}

.achievements .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-70);
}

.achievements .achievement .achievement-name {
    font-size: .8rem;
    font-weight: 400;
    color: var(--dark-100);
    line-height: 15px;
    margin-bottom: 20px;
}

.achievements .achievement .achievement-number {
    font-size: 4rem;
    font-weight: 600;
    color: var(--dark-85);
}











/* ----------------------------- Service we provide ----------------------------- */
.service-provide {
    background: var(--primary-5);
    padding: 100px 0;
    position: relative;
}

.service-provide .circles {
    position: absolute;
    right: 0;
    top: 0;
}

.service-provide .heading {
    font-size: 3.3rem;
    line-height: 60px;
    margin: 30px 0 50px 0 !important;
    background: -webkit-linear-gradient(0turn, var(--dark-85), var(--dark-50));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.service-provide .contents .service {
    padding: 55px 0 40px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.service-provide .contents .service::before,
.service-provide .contents .service::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background: var(--dark-50);
}

.service-provide .contents .service::before {
    top: -1px;
}

.service-provide .contents .service::after {
    bottom: 0;
}

.service-provide .contents .service .count {
    width: 10%;
}

.service-provide .contents .service .service-name-info {
    width: 50%;
}

.service-provide .contents .service .action-image {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.service-provide .contents .service .count p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark-100);
}

.service-provide .contents .service .service-name-info .name {
    font-size: 20px;
    color: var(--dark-85);
    font-weight: 400;

}

.service-provide .contents .service .service-name-info .info .detail {
    font-size: 1rem;
    color: var(--dark-70);
    font-weight: 400;
    margin-bottom: 40px !important;
    margin-top: 35px !important;
}

.service-provide .contents .service .service-name-info .info .lets-work {
    display: flex;
    align-items: center;
    gap: 35px;
}

.service-provide .contents .service .service-name-info .info .lets-work a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-100);
    position: relative;
    cursor: pointer;
}

.service-provide .contents .service .service-name-info .info .lets-work a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background: var(--dark-50);
    bottom: -6px;
}

.service-provide .contents .service .action-image .more-info {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-85);
    position: relative;
    cursor: pointer;

}

.service-provide .contents .service .action-image .more-info::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background: var(--dark-50);
    bottom: -6px;
}

.service-provide .contents .service .action-image .image {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin-top: 30px !important;
}

.service-provide .contents .service .service-name-info .info,
.service-provide .contents .service .action-image .image {
    overflow: hidden;
    max-height: 0;
    transition: all .8s cubic-bezier(0, 1, 0, 1);
}

.service-provide .contents .service .service-name-info .info.show,
.service-provide .contents .service .action-image .image.show {
    height: auto;
    max-height: 1000px;
    transition: all .8s cubic-bezier(1, 0, 1, 0);
}


















/* ----------------------------- Our Work Process ----------------------------- */
.work-process {
    background-image: url('../images/triangles.svg');
    background-size: cover;
    /* background-position: center; */
    height: 100%;
    margin: 10px;
    padding: 100px 0;
}

.work-process .process-steps {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.work-process .process-steps .process {
    display: flex;
    gap: 6px;
    align-items: flex-start;
}

.work-process .process-steps .process .step-line {
    display: flex;
    align-items: center;
    gap: 6px;
}

.work-process .process-steps .process .step-line .step-count {
    color: var(--primary-100);
    font-size: .9rem;
    font-weight: 600;
}

.work-process .process-steps .process .step-line .line {
    height: 2px;
    width: 35px;
    background: linear-gradient(0.25turn, var(--primary-100), var(--bg-primary));
    position: relative;
    bottom: 1px;
}

.work-process .process-steps .process .process-detail .process-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-85);
    line-height: 22px;
    margin-bottom: 15px !important;
}

.work-process .process-steps .process .process-detail .process-desc {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-85);
    margin-bottom: 15px !important;
}

.work-process .process-steps .process .process-detail .steps li {
    color: var(--dark-85);
    font-size: .9rem;
    font-weight: 600;
    list-style: url('../images/arrowRightPrimarySmall.svg');
    margin-bottom: 5px;
    margin-left: 16px;
}












/* ----------------------------- FAQ ----------------------------- */
.faqs {
    padding: 100px 0;
}

.faqs .heading {
    font-size: 3.3rem;
    line-height: 60px;
    margin-bottom: 50px !important;
    background: -webkit-linear-gradient(0turn, var(--dark-100), var(--dark-50));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.faqs .contents .faq {
    padding: 55px 0 50px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.faqs .contents .faq::before,
.faqs .contents .faq::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background: var(--dark-50);
}

.faqs .contents .faq::before {
    top: -1px;
}

.faqs .contents .faq::after {
    bottom: 0;
}

.faqs .contents .faq .count {
    width: 10%;
}

.faqs .contents .faq .faq-name-info {
    width: 80%;
}

.faqs .contents .faq .action {
    width: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.faqs .contents .faq .count p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark-100);
}

.faqs .contents .faq .faq-name-info .name {
    font-size: 20px;
    color: var(--dark-85);
    font-weight: 400;
}

.faqs .contents .faq .faq-name-info .info .detail {
    font-size: 1rem;
    color: var(--dark-70);
    font-weight: 400;
    margin-top: 35px !important;
}

.faqs .contents .faq .action .more-info {
    font-size: 2rem;
    font-weight: 200;
    color: var(--dark-85);
    cursor: pointer;
    line-height: 30px;
    transition: all .7s;
}

.faqs .contents .faq .faq-name-info .info {
    overflow: hidden;
    max-height: 0;
    transition: all .7s cubic-bezier(0, 1, 0, 1);
}

.faqs .contents .faq .faq-name-info .info.show {
    height: auto;
    max-height: 1000px;
    transition: all .7s cubic-bezier(1, 0, 1, 0);
}

.faqs .contents .faq .action .more-info.show {
    transform: rotate(135deg);

}











/* ----------------------------- Why Choose Us ----------------------------- */
.choose-us {
    padding: 30px 0;
}

.choose-us .content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 30px;
}

.choose-us .content .left-content {
    width: 50%;
}

.choose-us .content .right-content {
    width: 50%;
    overflow: hidden;
    min-height: 350px;
    /* background: red; */
    height: 100%;
}

.choose-us .content .left-content .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-85);
    line-height: 22px;
    margin-bottom: 15px !important;
}

.choose-us .content .left-content .desc {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-85);
    margin-bottom: 15px !important;
}

.choose-us .content .left-content .steps li {
    color: var(--dark-85);
    font-size: .9rem;
    font-weight: 600;
    list-style: url('../images/arrowRightPrimarySmall.svg');
    margin-bottom: 5px;
    margin-left: 16px;
}

.choose-us .content .right-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}










/* ----------------------------- What our client's says ----------------------------- */
.client-says {
    padding: 80px 0 30px 0;
}

.client-says .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-says .heading .actions {
    display: flex;
    gap: 50px;
}

.client-says .heading .actions .left {
    transform: rotate(180deg);
}

.client-says .heading .actions img {
    height: 50px;
    width: 50px;
    border: 2px solid var(--dark-50);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.client-says .title {
    font-size: 3.3rem;
    line-height: 60px;
    margin-bottom: 30px !important;
    background: -webkit-linear-gradient(0turn, var(--dark-85), var(--dark-50));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.client-says .content {
    display: flex;
    gap: 50px;
}



.client-says .content .review {
    width: 90%;
    overflow: hidden;
    min-height: 300px;
}


.client-says .content .review .review-content {
    width: min(1000px, 90%);
}

.client-says .content .review .review-content .name-info {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.client-says .content .review .review-content .name-info .client-img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.client-says .content .review .review-content .name-info .name-position .name {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-85);
    line-height: 30px;
}

.client-says .content .review .review-content .name-info .name-position .position {
    color: var(--dark-85);
    font-size: .9rem;
    font-weight: 400;
    position: relative;
    padding-left: 40px !important;
}

.client-says .content .review .review-content .name-info .name-position .position::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30px;
    background: var(--dark-50);
    left: 0;
    top: 10px;
}

.client-says .content .review .review-content .statement q {
    color: var(--dark-85);
    font-size: 1rem;
    font-weight: 400;
}

.client-says .content .action {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.client-says .content .action img {
    width: 50px;
    cursor: pointer;
}














/* ----------------------------- Got a project ----------------------------- */
.got-a-project {
    padding: 100px;
    margin-bottom: 50px;
    background: var(--primary-100);
    background-image: url('../images/boxs.svg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.got-a-project .title {
    font-size: 4rem;
    line-height: 80px;
    color: var(--gray);
    font-weight: 700;
}

.got-a-project a .action-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
















/* ----------------------------- Footer ----------------------------- */
.footer {
    background: var(--secondary-20);
    padding: 100px 0 55px 0;
    position: relative;
    overflow: hidden;
}

.footer .circles {
    position: absolute;
    right: 0;
    top: 0;
}

.footer .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}

.footer .heading .logo h3 {
    color: var(--primary-100);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.footer .heading .get-started {
    display: flex;
    gap: 40px;
    align-items: center;
}

.footer .heading .get-started h3 {
    color: var(--dark-70);
    font-size: 20px;
    font-weight: 600;
}

.footer .heading::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--black-20);
    left: 0;
    bottom: -40px;
}

.footer .email-links {
    display: flex;
    gap: 60px;
    margin-bottom: 80px;
}

.footer .email-links .enter-email {
    width: 30%;
}

.footer .email-links .links {
    width: 70%;
}


.footer .email-links .enter-email .email-heading {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-85);
    margin-bottom: 66px !important;
}

.footer .email-links .enter-email form {
    display: flex;
    width: 100%;
    position: relative;
}

.footer .email-links .enter-email form input {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 65px;
    color: var(--dark-85);
    border: none;
    border-bottom: 1px solid var(--black-20);
    background: transparent;
    outline: none;
    font-size: 1rem;
}

.footer .email-links .enter-email form button {
    height: 50px !important;
    width: 50px !important;
    background: var(--primary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: .5s;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer .email-links .enter-email form button:hover {
    transform: translateX(5px);
}

.footer .email-links .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.footer .email-links .links .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .email-links .links .column .link-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-85);
}

.footer .email-links .links .column .link {
    color: var(--dark-70);
    font-size: 1rem;
    font-weight: 400;
    transition: .5s;
    position: relative;
    width: fit-content;
}

.footer .email-links .links .column .link:hover {
    transform: translateX(8px);
    color: var(--primary-100);
}

.footer .email-links .links .column .link::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0%;
    background: var(--primary-100);
    left: 0;
    bottom: -2px;
    transition: .5s;
    transition-delay: .2s;
}

.footer .email-links .links .column .link:hover::after {
    width: 100%;
}

.footer .terms-policy {
    display: flex;
    gap: 100px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

.footer .terms-policy a {
    font-size: 1.1rem;
    color: var(--dark-85);
    font-weight: 500;
    transition: .5s;
    position: relative;
    width: fit-content;
    transition: .5s;
}

.footer .terms-policy a::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primary-10);
    left: 0;
    z-index: -1;
    transition: .5s;
}

.footer .terms-policy a:hover {
    color: var(--primary-100);
}

.footer .terms-policy a:hover:after {
    width: 100%;
}

.footer .terms-policy::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--black-20);
    left: 0;
    bottom: -40px;
}

.footer .copyright {
    text-align: center;
    color: var(--dark-50);
    font-size: .9rem;
}















/* ----------------------------- About Us ----------------------------- */
/* ------------ Heading ------------ */

.about-heading {
    padding: 100px 0 150px 0;
}

.about-heading .title {
    margin-top: 15px !important;
    font-size: 3.5rem;
    font-weight: 200;
    color: var(--dark-85);
    width: min(650px, 90%);
    line-height: 70px;
}

.heading-line-svg {
    position: absolute;
    right: 0;
    top: 250px;
}


/* ------------ Why Different ------------ */
.why-different {
    background: var(--primary-5);
    padding: 100px 0;
    position: relative;
}

.why-different .arrowSvg {
    position: absolute;
    left: 250px;
    bottom: -70px;
}

.why-different section {
    display: flex;
    gap: 30px;
}

.why-different section h2.section-title {
    margin-top: 15px !important;
    font-size: 3rem;
    font-weight: 200;
    color: var(--dark-85);
    width: min(650px, 90%);
    line-height: 55px;
    width: 30%;
}

.why-different section .points {
    width: 70%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.why-different section .points .point {
    position: relative;
}

.why-different section .points .point::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background: var(--dark-50);
    left: -30px;
    top: 0;
}

.why-different section .points .point .count {
    color: var(--dark-85);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 8px !important;
}

.why-different section .points .point h5.title {
    color: var(--dark-85);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px !important;
}

.why-different section .points .point .desc {
    color: var(--dark-70);
    font-size: 1rem;
}







/* ------------ Why Different ------------ */
.we-value {
    padding: 130px 0;
    position: relative;
}

.we-value section h2.section-title {
    margin-top: 15px !important;
    font-size: 3rem;
    font-weight: 200;
    color: var(--dark-85);
    line-height: 55px;
    width: 300px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 320px;
}

.we-value section .points .row {
    display: flex;
    justify-content: space-between;
}

.we-value section .points .row .point.right {
    text-align: end;
}

.we-value section .points .row .point.center {
    text-align: center;
}

.we-value section .points .row.row-two {
    padding: 0 100px;
}

.we-value section .points .row.row-three {
    justify-content: center;
    margin-bottom: -55px;
}

.we-value section .points .point {
    width: 370px;
    margin-bottom: 55px;
}

.we-value section .points .point .count {
    color: var(--dark-85);
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 8px !important;
}

.we-value section .points .point h5.title {
    color: var(--dark-85);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px !important;
}

.we-value section .points .point .desc {
    color: var(--dark-70);
    font-size: 1rem;
}






/* ------------ Our Team ------------ */
.our-team {
    background: var(--primary-5);
    padding: 100px 0;
    position: relative;
}

.our-team .team-info .team-heading {
    width: 100%;
    margin-bottom: 50px;
}

.our-team .team-info .team-heading .title {
    font-size: 3rem;
    font-weight: 200;
    color: var(--dark-85);
    line-height: 55px;
    text-align: center;
    margin-bottom: 15px !important;
}

.our-team .team-info .team-heading .desc {
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--dark-70);
}


.our-team .team-info .team-data {
    display: grid;
    place-items: center;
    position: relative;
}

.our-team .team-info .team-data .team-member {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.our-team .team-info .team-data .team-member:hover .others-info {
    top: 0;
}

.our-team .team-info .team-data .team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.our-team .team-info .team-data .team-member .others-info {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, var(--primary-100), var(--primary-0));
    border-radius: 5px;
    top: 100%;
    left: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all .5s cubic-bezier(0, 0, 0, 0);

}

.our-team .team-info .team-data .team-member .others-info .name {
    font-size: 20px;
    color: var(--bg-primary);
    font-weight: 500;
    margin-bottom: 5px !important;
}

.our-team .team-info .team-data .team-member .others-info .role {
    font-size: 12px;
    color: var(--bg-primary);
    font-weight: 300;
    margin-bottom: 5px !important;
}

.our-team .team-info .team-data .team-member .others-info .position {
    font-size: 14px;
    color: var(--bg-primary);
    font-weight: 400;
    margin-bottom: 5px !important;
}

.our-team .team-info .team-data .team-member .others-info .social {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


.our-team .team-info .team-data .team-member .others-info .social a {
    color: var(--bg-primary);
    font-size: 1.4rem;
}







/* ------------ Start Project ------------ */
.start-project {
    padding: 100px;
    margin: 50px 0;
    background: var(--primary-100);
    background-image: url('../images/boxs.svg');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.start-project .title {
    font-size: 4rem;
    line-height: 80px;
    color: var(--gray);
    font-weight: 700;
}

.start-project a .action-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}





















/* ----------------------------- Projects ----------------------------- */
/* ------------ Heading ------------ */

.projects-heading {
    padding: 100px 0 30px 0;
}

.projects-heading .title {
    margin-top: 15px !important;
    font-size: 3.5rem;
    font-weight: 200;
    color: var(--dark-85);
    width: min(650px, 90%);
    line-height: 70px;
}

.projects-heading .desc {
    margin-top: 35px !important;
    font-size: 1rem;
    font-weight: 200;
    color: var(--dark-100);
    width: min(750px, 100%);
}

.projects-heading .scroll {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    position: relative;
    left: 100px;
    width: fit-content;
    align-items: center;
}

.projects-heading .scroll .text {
    color: var(--dark-85);
    font-weight: 300;
    font-size: .9rem;
}

.projects-heading .scroll .line-after {
    height: 370px;
    width: 1px;
    background: var(--dark-50);
}

.heading-line-svg {
    position: absolute;
    right: 0;
    top: 250px;
}




/* ------------ Heading ------------ */
